
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4rem; /* 64px */
    background-color: white;
    border-top: 1px solid #e5e7eb; /* light gray */
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 50;
  }
  
  
  .nav-link {
    flex: 1;               
    display: flex;
    justify-content: center; 
    align-items: center;     
    color: #4b5563;    
    text-decoration: none;
  }
  
  .nav-link.text-orange-500 {
    color: #f97316;
  }
  